In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
dataset1 = pd.read_csv('test.csv')
dataset2 = pd.read_csv('titanic.csv')
dataset=pd.concat([dataset1,dataset2])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
dataset.shape

(1305, 14)

In [21]:
dataset.head()

,Age,Cabin,Embarked,Fare,Name,Parch,Parents/Children Aboard,PassengerId,Pclass,Sex,SibSp,Siblings/Spouses Aboard,Survived,Ticket
0,34.5,NaN,Q,7.8292,"Kelly, Mr. James",0.0,NaN,892.0,3,male,0.0,NaN,NaN,330911
1,47.0,NaN,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0.0,NaN,893.0,3,female,1.0,NaN,NaN,363272
2,62.0,NaN,Q,9.6875,"Myles, Mr. Thomas Francis",0.0,NaN,894.0,2,male,0.0,NaN,NaN,240276
3,27.0,NaN,S,8.6625,"Wirz, Mr. Albert",0.0,NaN,895.0,3,male,0.0,NaN,NaN,315154
4,22.0,NaN,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1.0,NaN,896.0,3,female,1.0,NaN,NaN,3101298

In [22]:
dataset.describe()

,Age,Fare,Parch,Parents/Children Aboard,PassengerId,Pclass,SibSp,Siblings/Spouses Aboard,Survived
count,1219.000000,1304.000000,418.000000,887.000000,418.000000,1305.000000,418.000000,887.000000,887.000000
mean,29.689639,33.367673,0.392344,0.383315,1100.500000,2.292720,0.447368,0.525366,0.385569
std,14.136760,51.821274,0.981429,0.807466,120.810458,0.838208,0.896760,1.104669,0.487004
min,0.170000,0.000000,0.000000,0.000000,892.000000,1.000000,0.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,0.000000,996.250000,2.000000,0.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,0.000000,1100.500000,3.000000,0.000000,0.000000,0.000000
75%,38.000000,31.275000,0.000000,0.000000,1204.750000,3.000000,1.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,6.000000,1309.000000,3.000000,8.000000,8.000000,1.000000

In [23]:
dataset.keys()

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch',
       'Parents/Children Aboard', 'PassengerId', 'Pclass', 'Sex', 'SibSp',
       'Siblings/Spouses Aboard', 'Survived', 'Ticket'],
      dtype='object')

In [25]:
dataset.dropna(subset=['Survived'])

,Age,Cabin,Embarked,Fare,Name,Parch,Parents/Children Aboard,PassengerId,Pclass,Sex,SibSp,Siblings/Spouses Aboard,Survived,Ticket
0,22.0,NaN,NaN,7.2500,Mr. Owen Harris Braund,NaN,0.0,NaN,3,male,NaN,1.0,0.0,NaN
1,38.0,NaN,NaN,71.2833,Mrs. John Bradley (Florence Briggs Thayer) Cum...,NaN,0.0,NaN,1,female,NaN,1.0,1.0,NaN
2,26.0,NaN,NaN,7.9250,Miss. Laina Heikkinen,NaN,0.0,NaN,3,female,NaN,0.0,1.0,NaN
3,35.0,NaN,NaN,53.1000,Mrs. Jacques Heath (Lily May Peel) Futrelle,NaN,0.0,NaN,1,female,NaN,1.0,1.0,NaN
4,35.0,NaN,NaN,8.0500,Mr. William Henry Allen,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
5,27.0,NaN,NaN,8.4583,Mr. James Moran,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
6,54.0,NaN,NaN,51.8625,Mr. Timothy J McCarthy,NaN,0.0,NaN,1,male,NaN,0.0,0.0,NaN
7,2.0,NaN,NaN,21.0750,Master. Gosta Leonard Palsson,NaN,1.0,NaN,3,male,NaN,3.0,0.0,NaN
8,27.0,NaN,NaN,11.1333,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,NaN,2.0,NaN,3,female,NaN,0.0,1.0,NaN
9,14.0,NaN,NaN,30.0708,Mrs. Nicholas (Adele Achem) Nasser,NaN,0.0,NaN,2,female,NaN,1.0,1.0,NaN
10,4.0,NaN,NaN,16.7000,Miss. Marguerite Rut Sandstrom,NaN,1.0,NaN,3,female,NaN,1.0,1.0,NaN
11,58.0,NaN,NaN,26.5500,Miss. Elizabeth Bonnell,NaN,0.0,NaN,1,female,NaN,0.0,1.0,NaN
12,20.0,NaN,NaN,8.0500,Mr. William Henry Saundercock,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
13,39.0,NaN,NaN,31.2750,Mr. Anders Johan Andersson,NaN,5.0,NaN,3,male,NaN,1.0,0.0,NaN
14,14.0,NaN,NaN,7.8542,Miss. Hulda Amanda Adolfina Vestrom,NaN,0.0,NaN,3,female,NaN,0.0,0.0,NaN
15,55.0,NaN,NaN,16.0000,Mrs. (Mary D Kingcome) Hewlett,NaN,0.0,NaN,2,female,NaN,0.0,1.0,NaN
16,2.0,NaN,NaN,29.1250,Master. Eugene Rice,NaN,1.0,NaN,3,male,NaN,4.0,0.0,NaN
17,23.0,NaN,NaN,13.0000,Mr. Charles Eugene Williams,NaN,0.0,NaN,2,male,NaN,0.0,1.0,NaN
18,31.0,NaN,NaN,18.0000,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,NaN,0.0,NaN,3,female,NaN,1.0,0.0,NaN
19,22.0,NaN,NaN,7.2250,Mrs. Fatima Masselmani,NaN,0.0,NaN,3,female,NaN,0.0,1.0,NaN
20,35.0,NaN,NaN,26.0000,Mr. Joseph J Fynney,NaN,0.0,NaN,2,male,NaN,0.0,0.0,NaN
21,34.0,NaN,NaN,13.0000,Mr. Lawrence Beesley,NaN,0.0,NaN,2,male,NaN,0.0,1.0,NaN
22,15.0,NaN,NaN,8.0292,Miss. Anna McGowan,NaN,0.0,NaN,3,female,NaN,0.0,1.0,NaN
23,28.0,NaN,NaN,35.5000,Mr. William Thompson Sloper,NaN,0.0,NaN,1,male,NaN,0.0,1.0,NaN
24,8.0,NaN,NaN,21.0750,Miss. Torborg Danira Palsson,NaN,1.0,NaN,3,female,NaN,3.0,0.0,NaN
25,38.0,NaN,NaN,31.3875,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,NaN,5.0,NaN,3,female,NaN,1.0,1.0,NaN
26,26.0,NaN,NaN,7.2250,Mr. Farred Chehab Emir,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
27,19.0,NaN,NaN,263.0000,Mr. Charles Alexander Fortune,NaN,2.0,NaN,1,male,NaN,3.0,0.0,NaN
28,24.0,NaN,NaN,7.8792,Miss. Ellen O'Dwyer,NaN,0.0,NaN,3,female,NaN,0.0,1.0,NaN
29,23.0,NaN,NaN,7.8958,Mr. Lalio Todoroff,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,21.0,NaN,NaN,11.5000,Mr. Frederick Edward Giles,NaN,0.0,NaN,2,male,NaN,1.0,0.0,NaN
858,48.0,NaN,NaN,25.9292,Mrs. Frederick Joel (Margaret Welles Barron) S...,NaN,0.0,NaN,1,female,NaN,0.0,1.0,NaN
859,14.0,NaN,NaN,69.5500,Miss. Dorothy Edith Sage,NaN,2.0,NaN,3,female,NaN,8.0,0.0,NaN
860,24.0,NaN,NaN,13.0000,Mr. John William Gill,NaN,0.0,NaN,2,male,NaN,0.0,0.0,NaN
861,42.0,NaN,NaN,13.0000,Mrs. (Karolina) Bystrom,NaN,0.0,NaN,2,female,NaN,0.0,1.0,NaN
862,27.0,NaN,NaN,13.8583,Miss. Asuncion Duran y More,NaN,0.0,NaN,2,female,NaN,1.0,1.0,NaN
863,31.0,NaN,NaN,50.4958,Mr. Washington Augustus II Roebling,NaN,0.0,NaN,1,male,NaN,0.0,0.0,NaN
864,23.0,NaN,NaN,9.5000,Mr. Philemon van Melkebeke,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
865,4.0,NaN,NaN,11.1333,Master. Harold Theodor Johnson,NaN,1.0,NaN,3,male,NaN,1.0,1.0,NaN
866,26.0,NaN,NaN,7.8958,Mr. Cerin Balkic,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
867,47.0,NaN,NaN,52.5542,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,NaN,1.0,NaN,1,female,NaN,1.0,1.0,NaN
868,33.0,NaN,NaN,5.0000,Mr. Frans Olof Carlsson,NaN,0.0,NaN,1,male,NaN,0.0,0.0,NaN
869,47.0,NaN,NaN,9.0000,Mr. Victor Vander Cruyssen,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
870,28.0,NaN,NaN,24.0000,Mrs. Samuel (Hannah Wizosky) Abelson,NaN,0.0,NaN,2,female,NaN,1.0,1.0,NaN
871,15.0,NaN,NaN,7.2250,Miss. Adele Kiamie Najib,NaN,0.0,NaN,3,female,NaN,0.0,1.0,NaN
872,20.0,NaN,NaN,9.8458,Mr. Alfred Ossian Gustafsson,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
873,19.0,NaN,NaN,7.8958,Mr. Nedelio Petroff,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
874,23.0,NaN,NaN,7.8958,Mr. Kristo Laleff,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
875,56.0,NaN,NaN,83.1583,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,NaN,1.0,NaN,1,female,NaN,0.0,1.0,NaN
876,25.0,NaN,NaN,26.0000,Mrs. William (Imanita Parrish Hall) Shelley,NaN,1.0,NaN,2,female,NaN,0.0,1.0,NaN
877,33.0,NaN,NaN,7.8958,Mr. Johann Markun,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
878,22.0,NaN,NaN,10.5167,Miss. Gerda Ulrika Dahlberg,NaN,0.0,NaN,3,female,NaN,0.0,0.0,NaN
879,28.0,NaN,NaN,10.5000,Mr. Frederick James Banfield,NaN,0.0,NaN,2,male,NaN,0.0,0.0,NaN
880,25.0,NaN,NaN,7.0500,Mr. Henry Jr Sutehall,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN
881,39.0,NaN,NaN,29.1250,Mrs. William (Margaret Norton) Rice,NaN,5.0,NaN,3,female,NaN,0.0,0.0,NaN
882,27.0,NaN,NaN,13.0000,Rev. Juozas Montvila,NaN,0.0,NaN,2,male,NaN,0.0,0.0,NaN
883,19.0,NaN,NaN,30.0000,Miss. Margaret Edith Graham,NaN,0.0,NaN,1,female,NaN,0.0,1.0,NaN
884,7.0,NaN,NaN,23.4500,Miss. Catherine Helen Johnston,NaN,2.0,NaN,3,female,NaN,1.0,0.0,NaN
885,26.0,NaN,NaN,30.0000,Mr. Karl Howell Behr,NaN,0.0,NaN,1,male,NaN,0.0,1.0,NaN
886,32.0,NaN,NaN,7.7500,Mr. Patrick Dooley,NaN,0.0,NaN,3,male,NaN,0.0,0.0,NaN

In [26]:
dataset.describe()

,Age,Fare,Parch,Parents/Children Aboard,PassengerId,Pclass,SibSp,Siblings/Spouses Aboard,Survived
count,1219.000000,1304.000000,418.000000,887.000000,418.000000,1305.000000,418.000000,887.000000,887.000000
mean,29.689639,33.367673,0.392344,0.383315,1100.500000,2.292720,0.447368,0.525366,0.385569
std,14.136760,51.821274,0.981429,0.807466,120.810458,0.838208,0.896760,1.104669,0.487004
min,0.170000,0.000000,0.000000,0.000000,892.000000,1.000000,0.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,0.000000,996.250000,2.000000,0.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,0.000000,1100.500000,3.000000,0.000000,0.000000,0.000000
75%,38.000000,31.275000,0.000000,0.000000,1204.750000,3.000000,1.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,6.000000,1309.000000,3.000000,8.000000,8.000000,1.000000

In [37]:
dataset['Has_Cabin']=~dataset.Cabin.isnull()

In [45]:
dataset['Has_Cabin']

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12      True
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25     False
26      True
27     False
28      True
29     False
       ...
857    False
858    False
859    False
860    False
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
Name: Has_Cabin, Length: 1305, dtype: bool

In [54]:
import re
list = []
list2=[]
list=dataset['Name']
# Loop starts here
for element in list:

()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()

In [52]:
dataset['Title']=list2

0      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
1      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
2      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
3      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
4      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
5      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
6      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
7      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
8      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
9      <_sre.SRE_Match object; span=(0, 2), match='Mr'>
10     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
11     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
12     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
13     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
14     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
15     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
16     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
17     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
18     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
19     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
20     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
21     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
22     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
23     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
24     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
25     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
26     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
27     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
28     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
29     <_sre.SRE_Match object; span=(0, 2), match='Mr'>
                             ...
857    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
858    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
859    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
860    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
861    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
862    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
863    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
864    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
865    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
866    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
867    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
868    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
869    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
870    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
871    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
872    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
873    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
874    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
875    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
876    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
877    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
878    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
879    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
880    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
881    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
882    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
883    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
884    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
885    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
886    <_sre.SRE_Match object; span=(0, 2), match='Mr'>
Name: Title, Length: 1305, dtype: object